<li>
  <select class="" name="">
    <option value="max">Max</option>
    <option value="min">Min</option>
    <input type="text" name="objective" value="">
  </select>
  <button type="button" name="button" value="Remove" onclick="delObj()"></button>
</li>
