<!DOCTYPE html>
<html ng-app="carbonCalc">
<head>
  <meta charset="utf-8"/>
  <title>Carbon Calculator</title>
  <script type="text/javascript" src="scripts/libs/angular.min.js"></script>
  <script type="text/javascript" src="scripts/libs/jquery-3.1.1.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-app="carbonCalc" ng-controller="mainController">

  <div class="container">

  <h1>Carbon Calculator</h1><br>

    <h2>Step 1: Build the Model</h2>

    <!--- ========= Toggle Form/Code ========= -->
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary" id="btnForm">Form View</button>
      <button type="button" class="btn btn-secondary" id="btnCode">Code View</button>
    </div>

    <div class="row">
      <!--- ========= Form View ========= -->
      <div class="col-sm-8 formView">
        <form name="formView" autocomplete="off">

          <!-- Model Name  -->
          <h3>Model Name</h3>
          <input type="text" ng-model="modelName" ng-blur="addModelName(modelName)" required></li>

          <!-- Objectives -->
          <h3>Objectives</h3>
          <span class="glyphicon glyphicon-plus" id="btn-objectives"></span>
          <div class="table-responsive" id="objectives">
            <table class="table-bordered">
              <thead>
                <th>Mode</th>
                <th>Name</th>
                <th>Statistic</th>
                <th>Expression</th>
                <th>Remove</th>
              </thead>
              <tbody>
                <tr  ng-repeat="o in objectives">
                  <td><select ng-model="o.mode" ng-options="option for option in mode" required></select></td>
                  <td>
                    <input type="text" ng-model="o.name" required>
                  </td>
                  <td><select ng-model="o.statistic" ng-options="option for option in statistics" required></select></td>
                  <td>
                    <input type="text" ng-model="o.expression" ng-blur="addExpression(o.expression)"
                      ng-keydown="$event.which === 13 && addExpression(o.expression)" required>
                  </td>
                  <td><span class="glyphicon glyphicon-remove objective" ng-click="deleteObj(o)"></span></td>
                </tr>
                <tr>
                  <td>Add</td>
                  <td>
                    <input type="text" ng-model="input.objective" ng-blur="addObj(input.objective)"
                      ng-keydown="$event.which === 13 && addObj(input.objective)" ng-required="objectives.length==0">
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <!-- Variables -->
          <h3>Variables</h3>
          <span class="glyphicon glyphicon-plus" id="btn-variables"></span>
          <div id="variables">
            <table class="table-bordered">
              <thead ng-if="variables.length > 0">
                <tr>
                  <th>Variable</th>
                  <th ng-repeat="vo in varoptions">{{vo}}</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="v in variables">
                  <td>{{v.name}}</td>
                  <td ng-repeat="vo in varoptions">
                    <input type="radio" ng-model="v.type" value="{{vo}}" ng-change="assignVariable(v,vo)">
                  </td>
                  <td>
                    <span class="glyphicon glyphicon-remove" ng-click="deleteVariable(v)"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Parameters -->
          <h3>Parameters</h3>
          <span class="glyphicon glyphicon-plus" id="btn-parameters"></span>
          <div id="parameters">
            <table class="table-bordered">
              <tbody>
                <tr ng-repeat="p in parameters">
                  <th>{{p.name}}</th>
                  <td>
                    <input type="text" ng-model="p.value" ng-blur="saveParameter(p,p.value)"
                    ng-keydown="$event.which === 13 && saveParameter(p,p.value)" ng-required="p">
                  </td>
                  <td>
                    <span class="glyphicon glyphicon-remove" ng-click="deleteParameter(p)"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Equations -->
          <h3>Equations</h3>
          <span class="glyphicon glyphicon-plus" id="btn-equations"></span>
          <div class="" id="equations">
            <table class="table-bordered">
              <tbody>
                <tr ng-repeat="e in equations">
                  <th>{{e.name}}</th>
                  <td>
                    <input type="text" ng-model="e.value" ng-blur="saveEquation(e,e.value)"
                      ng-keydown="$event.which === 13 && saveEquation(e,e.value)" ng-require="e">
                  </td>
                  <td>
                    <span class="glyphicon glyphicon-remove" ng-click="deleteEquation(e)"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Decisions -->
          <h3>Decisions</h3>
          <span class="glyphicon glyphicon-plus" id="btn-decisions"></span>
          <div class="" id="decisions">

            <!-- Variables unassigned to specific decision -->
            <div ng-if="unassignedDecisions.length > 0">
              <p>Assign to a decision:</p>
              <table class="table-bordered">
                <tbody>
                  <tr>
                    <th>Variable</th>
                    <th ng-repeat="d in decisions">{{d.name}}</th>
                    <th>
                      <input type="text" placeholder="New Decision" ng-model="input.decision" ng-blur="addDecision(input.decision)"
                        ng-keydown="$event.which === 13 && addDecision(input.decision)">
                    </th>
                  </tr>

                  <tr ng-repeat="v in unassignedDecisions">
                    <th>{{v.name}}</th>
                    <td ng-repeat="d in decisions">
                      <input class="radio" type="radio" ng-model="v.decision" value="{{d.name}}" ng-change="assignDecision(v)">
                    </td>
                  </tr>
                </tbody>
              </table>
              <br></br>
            </div>

            <table class="table-bordered" ng-repeat-start="d in decisions">
              <thead class="thead-default">
                <tr class="thead-default">
                  <th>Decision: <input type="text" class="initial" placeholder="Decision name" ng-model="d.name" ng-change="reassignDecision(d,d.name)" required></td>
                  <th ng-repeat="v in d.variables">{{v.name}}</td>
                  <th><span class="glyphicon glyphicon-remove" ng-click="deleteDecision(d)"></span></td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="o in d.options">
                  <td>Option: {{o}}</td>
                  <td ng-repeat="v in d.variables">
                    <input type="text" ng-model="v.options[o]" ng-blur="saveOptionExpression(v,o)"
                      ng-keydown="$event.which === 13 && saveOptionExpression(v,o)">
                  </td>
                  <td>
                    <span class="glyphicon glyphicon-remove" ng-click="deleteOption(d,o)"></span>
                  </td>
                </tr>

                <tr>
                  <td>
                    <input type="text" placeholder="New option" ng-model="input.option" ng-blur="addOption(d,input.option)"
                      ng-keydown="$event.which === 13 && addOption(d,input.option)" ng-required="d.options.length==0">
                  </td>
                </tr>
                <tr></tr>
              </tbody>
            </table>
            <br></br>
            <table ng-repeat-end></table>
          </div>


        <!--- ========= Form Handler ========= -->

        <br></br>
          <button type="button" class="btn btn-default" ng-click="saveModel()">Save Model</button>
          <button type="button" class="btn btn-default" ng-click="submitModel(formView.$valid,'formView','parse')">Parse Model</button>
          <button type="button" class="btn btn-default" ng-click="submitModel(formView.$valid,'formView','solve')">Solve Model</button>
          <div id="submitButton" class="alert alert-warning alert-dismissable" ng-hide="submitOnInvalid" dismiss-on-timeout="5000">
            <strong>Invalid form: </strong> Please fill in missing value(s).
          </div>
          <div id="successParse" class="alert alert-success alert-dismissable" ng-show="successParse" dismiss-on-timeout="5000">
            Model parsed successfully.
          </div>
        </form>

      </div>

      <!--- ========= How To Form ========= -->

      <div class="col-sm-4 formView">
        <h3>How To</h3>

        <p>Cost Benefit Analysis Example</p>

        <h4>Model Name</h4>
        <p>CBA</p>

        <h4>Objectives</h4>
        <table class="table-bordered">
          <tbody>
            <tr>
              <td>Objective</td>
              <td>Result</td>
            </tr>
            <tr>
              <td>ENB</td>
              <td>EV(NBResult)</td>
            </tr>
            <tr>
              <td>LP</td>
              <td>Pr(NBResult < 0)</td>
            </tr>
            <tr>
              <td>NB</td>
              <td>Benefit - Cost</td>
            </tr>
          </tbody>
        </table>

        <h4>Parameters</h4>

        <h4>Equations</h4>

        <h4>Decisions</h4>
        <table class="table">
          <tbody>
            <tr class="thead-default">
              <th>Name</th>
              <th>Decisions</th>
            </tr>
            <tr>
              <td>Benefit</td>
              <td>Architecture Choice</td>
            </tr>
            <tr>
              <th colspan="2">Options</th>
            </tr>
            <tr>
              <td>"As-is"</td>
              <td>normalCI(0.9,1.1)</td>
            </tr>
            <tr>
              <td>"Refactoring"</td>
              <td>normalCI(1,9)</td>
            </tr>
            <tr>
              <td colspan="2"></td>
            </tr>
            <tr class="thead-default">
              <th>Name</th>
              <th>Decisions</th>
            </tr>
            <tr>
              <td>Cost</td>
              <td>Architecture Choice</td>
            </tr>
            <tr>
              <th colspan="2">Options</th>
            </tr>
            <tr>
              <td>"As-is"</td>
              <td>normalCI(0,0)</td>
            </tr>
            <tr>
              <td>"Refactoring"</td>
              <td>normalCI(1,5)</td>
            </tr>
          </tbody>
        </table>

        <br></br>
        <h3>Cheat Sheet</h3>
        <span id="cheatSheet">
          <ul>
            <li>ENB = Expected Net Benefit</li>
            <li>NB = Net Benefit</li>
            <li>Current* = represents the state of * as of now</li>
            <li>New* = represents the state of * with new decision</li>
          </ul>
        </span>
      </div>

      <!--- ========= Code View ========= -->

      <div class="col-sm-8 codeView">
        <form class="" name="codeView">
          <h3>Upload Model</h3>
          <div class="row-align">
            <input type="file" id="fileinput" name="model_upload" accept=".rdr" ng-model="uploadFileData">
            <input type="button" value="Upload" ng-click="uploadModel(event)">
          </div>
          <div id="editor" ng-model="uploadedModel"></div>
        </form>

      <!--- ========= Code Handler ========= -->
        <br></br>
        <button type="button" class="btn btn-default" ng-click="saveModel()">Save Model</button>
        <button type="button" class="btn btn-default" ng-click="submitModel(codeView.$valid,'codeView','parse')">Parse Model</button>
        <button type="button" class="btn btn-default" ng-click="submitModel(codeView.$valid,'codeView','solve')">Solve Model</button>
      </div>

      <!--- ========= How To Code ========= -->

      <div class="col-sm-4 codeView">
        <h3>How To</h3>

        <p>Cost Benefit Analysis Example</p>

        <pre>
Model CBA;

Objective Max ENB = EV(NB);
Objective Min LP = Pr(NB < 0);
NB = Benefit - Cost;

Benefit = decision("Architecture choice"){
    "As-is": normalCI(0.9, 1.1);
    "Refactoring" : normalCI(1, 9);
}

Cost = decision("Architecture choice"){
    "As-is" : normalCI(0, 0);
    "Refactoring" : normalCI(1, 5);
}
        </pre>

        <br></br>
        <h3>Cheat Sheet</h3>
        <span id="cheatSheet">
          <ul>
            <li>ENB = Expected Net Benefit</li>
            <li>NB = Net Benefit</li>
            <li>LP = Loss Probability</li>
            <li>Pr = Probability</li>
            <li>Triangular = ...</li>
            <li>NormalCI = ...</li>
          </ul>
        </span>
      </div>

    </div>

    <!--- ========= RADAR Result ========= -->

    <h2>Step 2: Results</h2>
    <div class="row">
      <div class="col-sm-6">
        <!-- TODO: remove?? pareto?? -->
        <div id="model_graph"></div>

        <!-- Decision options to filter -->
        <div class="model_filter" ng-if="filterSelect.length>0">
          <p>Filter results by decision options:</p>
          <table class="table table-bordered">
            <tr>
              <td ng-repeat="f in filterable">{{f.name}}</td>
            </tr>
            <tr>
              <td ng-repeat="f in filterable">
                <select ng-model="filterSelect[f.name]" ng-options="value for value in f.values" ng-change="filterOutput()">
                  <option value=""></option>
                </select>
            </td>
            </tr>
          </table>
        </div>

        <br></br>
        <!-- Matrix results -->
        <div id="model_result" class="model_result"></div>

      </div>
    </div>

    <!-- TODO: <footer class="footer">
      <div class="container">
        <p>Footer</p>
      </div>
    </footer> -->

  <script type="text/javascript" src="scripts/libs/d3.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <script type="text/javascript" src="scripts/helper.js"></script>
  <script type="text/javascript" src="scripts/libs/src-min-noconflict/ace.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/index.js"></script>
</body>
</html>
