#vgraph {
  /*transform: scale();*/
}

h1 {
	text-align: center;
}

.file-upload {
	max-width: 55%;
}

th {
	text-align: center;
}

tr {
	cursor: move;
}
td.bold.wrap {
	font-weight: bold;
	width: 1%;
	white-space: nowrap;
}

tr input[type=text] {
	width: 100%;
}

input[type=text].initial {
	width: initial;
}

input[type=text].ng-invalid {
	border: 1px #ff6666 solid;
}

input[type=text].ng-empty.option {
	border: 1px #f49e42 solid;
}

input[type=radio] {
	margin-left: 45%;
}

select.distribution {
	width: 30%;
}

input[type=text].distribution {
	width: 67%;
}

span.glyphicon {
	cursor: hand;
	cursor: pointer;
	/*float: right;*/
	color: gray;
}

ul{
	list-style-type: none;
}

label input[type='checkbox'] {
	display: inline;
}

#editor {
	min-height: 200px;
	border: 1px solid lightgrey;
	margin-top: 2%;
}

.btn-group {
	padding: 2.5% 0 0 0
}

.row-align input{
	float:left;
}

.row-align {
	padding: 0 0 1% 0;
}

.inlinediv {
	float: left;
	display: inline;
}

h3.inline,span.inline {
  display: inline;
  margin: 0 4px 0 7px;
}

div.padding {
  margin: 20px 0 20px 0;
}

.row {
	padding: 2.5% 0 4% 5%;
}

.table-bordered td, th {
	padding: 2px 5px 2px 5px;
}

.thead-default {
	background-color: #f6f6f6;
}

table {
	min-width:85%;
}

select {
	max-width: 100px;
}

#modelResult th {
	text-align: left;

}

#howToForm {
	max-width: 100%;
}

.footer {
	position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
