h1 {
	text-align: center;
}

input[type=text].ng-invalid {
	border: 1px #ff6666 solid;
}

span.glyphicon {
	cursor: hand;
	cursor: pointer;
}

ul{
	list-style-type: none;
}

label input[type='checkbox'] {
	display: inline;
}

#editor {
	min-height: 200px;
	border: 1px solid lightgrey;
}

.btn-group {
	padding: 2.5% 0 0 0
}

.row-align input{
	float:left;
}

.row-align {
	padding: 0 0 5% 0;
}

.row {
	padding: 2.5% 0 4% 5%;
}

#result {

}
