<!DOCTYPE html>
<html ng-app="carbonCalc">
<head>
  <meta charset="utf-8"/>
  <title>Carbon Calc</title>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript" src="js/jquery.ns-autogrow.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body ng-controller="mainController">

  <div class="container">

  <h1>Carbon Calculator</h1><br>

    <h2>Step 1: Build the Model</h2>
    <div class="btn-group">
      <button type="button" class="btn btn-primary" id="btnBuild">Build</button>
      <button type="button" class="btn btn-primary" id="btnUpload">Upload</button>
    </div>
    <div class="row">
      <!--- ========= Form Column ========= -->
      <div class="col-sm-6" id="buildform">
        <form name="build" autocomplete="off">

          <h3>Model Name:</h3>
          <ul>
            <li><input type="text" name="modelName" ng-model="modelName" ng-blur="addModelName(modelName)" required></li>
          </ul>

          <h3>Objectives:</h3>
          <ul id="objectives">
            <div ng-repeat="obj in objectives">
              <li>
                {{obj.minmax}} {{obj.oname}}
                <span class="glyphicon glyphicon-remove" ng-click="delObj(obj)">
              </li>
            </div>
            <li>
              <select name="minmax" ng-model="minmax" ng-init="minmax = objOption[0]" ng-options="option for option in objOption">
              </select>
              <input type="text" name="objname" ng-model="objname" ng-blur="addObj(minmax,objname)"
                ng-keydown="$event.which === 13 && addObj(minmax,objname)" ng-required="objectives.length==0">
              <span class="glyphicon glyphicon-ok" ng-click="addObj(minmax,objname)">
            </li>
          </ul>

          <h3>Parameters:</h3>
          <ul>
            <div ng-repeat="param in params">
              <li>
                {{param.name}} =
                <input type="text" name="paramVal" ng-model="paramVal" ng-blur="saveParamVal(param,paramVal)"
                  ng-keydown="$event.which === 13 && saveParamVal(param,paramVal)" required>
                <span class="glyphicon glyphicon-remove" ng-click="delParamVal(param)"></span>
                <span class="glyphicon glyphicon-unchecked" ng-click="isDecision(param)">Decision?</span>
              </li>
            </div>
          </ul>

          <h3>Equations:</h3>
          <ul id="equations">
            <div ng-repeat="obj in objectives">
              <li>
                Current{{obj.name}} =
                <input type="text" name="currentEq" ng-model="currentEq" ng-blur="saveCurrentEq(obj,currentEq)"
                  ng-keydown="$event.which === 13 && saveCurrentEq(obj,currentEq)" required>
              </li>
              <li>
                New{{obj.name}} =
                <input type="text" name="newEq" ng-model="newEq" ng-blur="saveNewEq(obj,newEq)"
                  ng-keydown="$event.which === 13 && saveNewEq(obj,newEq)" required>
              </li>
            </div>
          </ul>

          <h3>Decisions:</h3>
          <ul>
            <div ng-repeat="decision in decisions">
              <li>
                {{decision.name}} = decision("<input type="text" value="{{decision.label}}" ng-model="decision.label" ng-blur="saveDecLabel(decision, decision.label)"
                  ng-keydown="$event.which === 13 && saveDecLabel(decision, decision.label)" required>") {
                  <ul>
                    <div ng-repeat="p in decision.policies">
                      <li>
                        "{{p.name}}" :
                        <input type="text" value="{{p.value}}" ng-model="p.value" ng-blur="savePolicy(decision, p, p.value)"
                          ng-keydown="$event.which === 13 && savePolicy(decision, p, policyValue)" required>
                        <span class="glyphicon glyphicon-remove" ng-click="delPolicy(decision,p)">
                      </li>
                    </div>
                    <li>
                      <input type="text" ng-model="newPolicyName" ng-keydown="$event.which === 13 && addPolicy(decision,newPolicyName,newPolicyValue)" ng-required="decision.policies.length==0"> :
                      <input type="text" ng-model="newPolicyValue" ng-keydown="$event.which === 13 && addPolicy(decision,newPolicyName,newPolicyValue)" ng-required="decision.policies.length==0">
                        <span class="glyphicon glyphicon-ok" ng-click="addPolicy(decision,newPolicyName,newPolicyValue)">
                    </li>
                  </ul>
                }
                <span class="glyphicon glyphicon-unchecked" ng-click="isParam(decision)">Param?</span>
              </li>
            </div>
          </ul>

          <button type="button" class="btn btn-default" ng-click="saveModel()">Save Model</button>
          <button type="button" class="btn btn-default" ng-click="submitModel(build.$valid, 'solve')">Solve Model</button>
          <div id="submitButton" class="alert alert-warning alert-dismissable" ng-hide="submitOnInvalid" dismiss-on-timeout="5000">
            <strong>Invalid form: </strong> Please fill in missing value(s).
          </div>
        </form>
      </div>

      <!--- ========= Edit View ========= -->
      <div class="col-sm-6" id="uploadform">
        <form class="">
          <h3>Upload Model</h3>
          <input type="file" id="fileinput" name="model_upload" accept=".rdr" ng-model="uploadFileData">
          <input type="button" value="Upload" ng-click="modelUpload(event)">
        </form>
        <textarea class="form-control" id="modeluploadtext" name="name">
        </textarea>
      </div>

      <!--- ========= Helper Column ========= -->
      <div class="col-sm-6">
        <h3>How To</h3>
        <ul>
          <div ng-repeat="i in instructions">
            <li>{{i.head}}: {{i.body}}</li>
          </div>
        </ul>
        <br></br>
        <h3>Cheat Sheet</h3>
        <span id="cheatSheet">
          <ul>
            <li>ENB = Expected Net Benefit</li>
            <li>NB = Net Benefit</li>
            <li>Current* = represents the state of * as of now</li>
            <li>New* = represents the state of * with new decision</li>
          </ul>
        </span>
      </div>


    </div>

    <h2>Step 2: Results</h2>
    <div class="row">
      <div class="col-sm-6">
        <div id="model_result">
        </div>
      </div>
    </div>

  </div>
</body>
</html>
